.Colors{
color: rgb(91, 40, 51);
color: rgb(20, 26, 59);
color: rgb(92, 93, 90);
color: rgb(240, 242, 241);
color: rgb(113, 80, 80);
}

*{
    font-family: 'Old Standard TT', serif;
}

#container-about-me{
    background-color: rgb(240, 242, 241);
    width: 100%;
    height: 25em;
    padding-top: 3.5em;
}


#container-work{
    background-color: rgb(33, 33, 46,0.7);
    width: 100%;
    height: 35em;
    padding-top: 3.5em;
}

#container-skills{
    background-color: rgb(240, 242, 241);
    height: 23em;
    padding-top: 3.5em;
    width: 100%;
}

#container-contact-me{
    background-color: rgb(92, 93, 90);
}

nav{
    background-color: rgba(41,45,90,0.5);
}
#container-home{
    background-image: url("/assets/images/bg_city_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb( 0, 0, 0, 0.7);
    width: 100%;
    height: 35em;
    padding-top: 3.5em;
}
 #contact-me{
    width: 100%;
    height: 35em;
    padding-top: 3.5em;
}

#home{
    height: 17em;
    background-color: rgba(41,45,90,0.7);
    padding-top: 5em;
    color: white;
    margin-top: 5em;

}

.skills-cont{
    padding: 3em;
    display: flex;
    /* padding-top: 6Fem; */
}

#second-line-tech{
    margin-left: 2.6em;
}

.title{
    display: inline-block;
    margin-top: 1em;
}

.nav-item:hover{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}
/* section{
    border: 1px solid black;
} */

.btn-light{
    background-color: rgba(0, 0, 0, 0.7);
}

.hover-download:hover{
    color: black !important;
}

.proyect{
    height: 28em;
    border: 1em solid black;
}

#work{
    display: inline-flex;
}

.image-skill{
    font-size: 4em;
    width: 1em;
    height: 1em;
}

.tech{
    float: left;
    list-style: none;
    /* opacity: 0.8; */
    margin: 1em;
    
}

#skills{
    /* justify-content: center; */
}

.list-skills{
    text-align: center;
}

#photo-me{
    width: 13em;
    height: 18em;
    border-radius: 50%;
    border: 15px solid white;
    margin-top: -4em;
    margin-left: 7em;
}

#about-me div{
    float: left;
}

#text-about{
    margin-left: 4em;
}