body{
    background-color: azure;
}
nav{
    margin-left: 70%;
}

#name-header,#position{
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Old Standard TT', serif;
}

#work, #skills, #contact-me{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
}

#about-me{
    width: 100%;
    height: 100vh;
    margin-top: 3em;
    padding-top: 30vh;
}

#skills-cont{
    padding: 3em;
}

.diamond{
    display: inline-flex;
    transform: rotate(45deg);
    width: 10%;
    height: 10%;
    border: 1px solid black;
    margin: 2em;
}



section{
    border: 1px solid black;
}